### Création des tableau Postgres .

In [ ]:
# CREATE TABLE Patients (
#     id SERIAL PRIMARY KEY,
#     doctor_id INT,
#     name VARCHAR(255),
#     age INT,
#     sex INT,
#     glucose INT,
#     bmi INT,
#     bloodpressure INT,
#     pedigree INT,
#     created DATE DEFAULT CURRENT_DATE,
#     CONSTRAINT fk_doctor FOREIGN KEY (doctor_id) REFERENCES médecins(id) ON DELETE SET NULL       
# );

### Insertion dans le tableaux

In [ ]:
# INSERT INTO médecins (username, password, email)
# VALUES 
#   ('dr_ahmed', 'pass123', 'ahmed@example.com'),
#   ('dr_sara', 'sara456', 'sara@example.com'),
#   ('dr_nabil', 'nabil789', 'nabil@example.com');

### La connexion avec la Base de donnés